<div class="card">
  <div class="card-header">
    {{ customer.firstName }} {{ customer.lastName }}
    <a [routerLink]="['/customers', customer.id, 'edit']">
      <clr-icon shape="pencil"></clr-icon>
    </a>
  </div>
  <div class="card-block">
    <div class="card-media-block">
      <img
        src="../../../assets/{{ customer.gender }}.png"
        class="card-media-image"
      />
      <div class="card-media-description">
        <span class="card-media-title">
          {{ customer.city }}
        </span>
        <span class="card-media-text">
          {{ customer.address }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link">View Orders</button>
  </div>
</div>
