<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a
        (click)="changeView('card')"
        routerLink="/"
        [class.active]="view == 'card'"
        class="nav-link"
        >Card View</a
      >
    </li>
    <li class="nav-item">
      <a
        (click)="changeView('list')"
        routerLink="/"
        [class.active]="view == 'list'"
        class="nav-link"
        >List View</a
      >
    </li>
  </ul>
</nav>
<div class="clr-row" style="padding: 2rem;" *ngIf="view == 'card'">
  <app-customer-card
    *ngFor="let customer of customers"
    class="clr-col-lg-3 clr-col-6"
    [customer]="customer"
  ></app-customer-card>
</div>
<div style="padding: 2rem;" *ngIf="view == 'list'">
  <clr-datagrid>
    <clr-dg-column></clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>City</clr-dg-column>
    <clr-dg-column>Address</clr-dg-column>

    <clr-dg-row *ngFor="let customer of customers">
      <clr-dg-cell
        ><img
          src="../../assets/{{ customer.gender }}.png"
          width="32px"
          height="32px"
      /></clr-dg-cell>
      <clr-dg-cell
        >{{ customer.firstName }} {{ customer.lastName }}</clr-dg-cell
      >
      <clr-dg-cell>{{ customer.city }}</clr-dg-cell>
      <clr-dg-cell>{{ customer.address }}</clr-dg-cell>
    </clr-dg-row>
    <!-- <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
          >Users per page</clr-dg-page-size
        >
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
        {{ pagination.totalItems }} users
      </clr-dg-pagination>
    </clr-dg-footer> -->
  </clr-datagrid>
</div>
