form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding-top: 10%;
  & .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
    & .float-right button:last-child {
      margin-left: 0.25rem;
    }
  }
}

.btn {
  margin: 0;
}
