<form>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      type="text"
      [(ngModel)]="customer.firstName"
      name="firstName"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      type="text"
      [(ngModel)]="customer.lastName"
      name="lastName"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      type="text"
      [(ngModel)]="customer.address"
      name="address"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      type="text"
      [(ngModel)]="customer.city"
      name="city"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <mat-select
      class="form-control"
      [(ngModel)]="customer.state.abbreviation"
      name="state"
      required
    >
      <mat-option
        *ngFor="let state of states"
        [value]="state.abbreviation"
        name="option"
        >{{ state.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button class="btn btn-warning" (click)="delete($event)">Delete</button>
    <div class="float-right">
      <button class="btn btn-info-outline" (click)="cancel($event)">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="update($event)">
        Update
      </button>
    </div>
  </div>
</form>
