<header class="header-6">
  <div class="branding">
    <clr-icon shape="image" style="align-self: center;"></clr-icon>
    <h4 style="align-self: center; color: white; margin: 0;">Management</h4>
  </div>
  <div class="header-nav">
    <a
      routerLink="customers"
      routerLinkActive="active"
      class="nav-link nav-text"
      >Customers</a
    >
    <!-- <a href="javascript://" class="nav-link nav-text">Orders</a> -->
    <a routerLink="about" routerLinkActive="active" class="nav-link nav-text"
      >About</a
    >
    <!-- <a href="javascript://" class="nav-link nav-text">Login</a> -->
  </div>
</header>
